@model IEnumerable<InstituteManager.Models.Institute>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index </title>
</head>
<body>
<p>
    <a asp-action="Create"> Create new </a>
</p>
<table class="table">

<tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.InstituteID)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Adress)
                </td>
                <td>
                    <a	asp-action="Edit" asp-route-id="@item.InstituteID"> Edit </a> |
                    <a	asp-action="Details" asp-route-id="@item.InstituteID"> Details </a> |
                    <a	asp-action="Delete" asp-route-id="@item.InstituteID"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</body>
</html>